---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Nice to meet you!"
	pubDate={new Date('Mar 08 2025')}
	heroImage="/fliming.png"
>
	<p>
		I hope I have opportunity to meet you.
	</p>
	<p>
		I enjoy playing the piano and saxophone. In the club, I am always an active organizer. 
		I enjoy hosting various board games, brainstorming, or playing games with people from 
		different backgrounds.
	<img 
    		src="/boardgame.jpg" 
    		alt="Qiushi Chen_Photo"
		style="display: block; margin: 0 auto;"
    		width="300" 
    		height="400"
    		class="my-photo"
  	/>
	</p>
	<p>
		It's hard to say that participating in entrepreneurial activities is a hobby, 
		but I enjoy organizing data and knowledge within a limited amount of time, 
		and thinking about the potential and feasibility of various methods. 
		Understanding things I don't know always excites me, I even once spent a whole 
		night studying quantum physics (obviously I didn't get it).
	<img 
    		src="/saastock.jpg" 
    		alt="Qiushi Chen_Photo"
		style="display: block; margin: 0 auto;"
    		width="370" 
    		height="350"
    		class="my-photo"
  	/>
	<img 
    		src="/saastock2.jpg" 
    		alt="Qiushi Chen_Photo"
		style="display: block; margin: 0 auto;"
    		width="650" 
    		height="500"
    		class="my-photo"
  	/>
		
	</p>

	<p>
		I sometimes immerse myself in my own time, reading or creating, 
		or taking a hike with good friends, talking about Pyramid, Stonehenge, or aliens.

	<p>
	<img 
    		src="/book.jpg" 
    		alt="Qiushi Chen_Photo"
		style="display: block; margin: 0 auto;"
    		width="370" 
    		height="350"
    		class="my-photo"
  	/>
	</p>

	<p>
		No matter where you come from, I hope to chat with you.
	</p>

	<p>
		Email: wdnmdcqs@gmail.com
	</p>
	</p>
</Layout>
