---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, You have arrived Qiushi Chen's Planet !</h1>
			<p>
				Hello traveller, good to have you here. Please give me some time to introduce myself!
			</p>
			<p>
				My past experience is somewhat complex. I have worked as a screenwriter, sold insurance, 
				planned for an advertising company, created computer games, and served as a client manager 
				for world-class freight companies.
			</p>
			<p>
				In just two years, the game I participated in the production of went online on Steam, and 
				I co-organized a global writing conference. I won photography and design awards, and I 
				also launched a small entrepreneurial project that successfully promoted the platform 
				to tens of thousands of people. Now, I have the opportunity to chat with many investors 
				from different fields every day. In different jobs, I gradually discovered my 
				lifelong interest: <strong>data</strong> and <strong>analysis</strong>.
			</p>
			<p>
			<img 
    				src="/my_photo.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="330" 
    				height="380"
    				class="my-photo"
  			/>
				<a href="https://arthur-chen921-data-ds-dl55d4.streamlit.app/">Dashboard</a>
				I am always interested in the results caused by quantity, and I enjoy mining truth from data. 
				In school club activities and projects, I have started using background checks to think about
				the use of resources and the mechanisms of company operations. Gradually, with a strong interest, 
				I learned code and data science. As in the past, I was not confined to the use of certain tools, 
				but extensively studied finance, statistics, project management etc.
			<img 
    				src="/workshop.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="330" 
    				height="380"
    				class="my-photo"
  			/>
			</p>
			<p>
				

				Guided by data science, I was able to understand why companies invest like this and how 
				decisions are made, but more importantly, I learned a lot of knowledge from different fields.
				Sometimes you have to quickly master that knowledge, and then the broad industry experiences 
				of the past become extensive. 
			</p>
			<p>
			<img 
    				src="/dogpatch.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="500" 
    				height="450"
    				class="my-photo"
  			/>
				Because data can tell you the truth, but more often than not, 
				data can deceive people. Details are just the gentlest side of data. To truly develop the potential 
				of an industry and connect incredible aspects, it requires insights into the world's better and better fields. This is also the reason why I hope I can continue to learn
			</p>
			<p>
				I have posted some of my research and visualization reports on my blog, hoping it will help you 
				understand my work. If given the opportunity, I also hope you can get to know me as a person
			</p>
			<p>
			<img 
    				src="/my_photo3.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="500" 
    				height="450"
    				class="my-photo"
  			/>
			</p>
			<p>
			<p>
			<p>
			<p>
				Email: wdnmdcqs@gmail.com
			</p>
			<p>	
			
			</p>
		</main>
		<Footer />
	</body>
</html>
