---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, You have arrived Qiushi Chen's Planet !</h1>
			<p>
				Hello traveller, good to have you here. Please give me some time to introduce myself!
			</p>
			<p>
				My past experience is somewhat complex. I have worked as a screenwriter, sold insurance, 
				planned for an advertising company, created computer games, and served as a client manager 
				for world-class freight companies.
			</p>
			<p>
				In just two years, the game I participated went on Steam, 
				I co-organized a global writing conference, I won photography and design awards, and I 
				also launched a small entrepreneurial project that successfully promoted a platform
				with tens of thousands of users. Now, I have the opportunity to chat with many investors 
				from different fields every week. I gradually discovered my 
				lifelong interest: <strong>data</strong> and <strong>analysis</strong>.
			</p>
			<p>
			<img 
    				src="/my_photo.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="330" 
    				height="380"
    				class="my-photo"
  			/>
				I am always interested in the results caused by quantity,  I enjoy mining truth from data. 
				In society and projects of college, I have started using background checks to think about
				the use of resources and the mechanisms of company operations. Driven by strong interests, 
				I learned coding and data science. As in the past, I was not confined to the use of certain tools, 
				but extensively studied finance, statistics, project management etc.
			</p>
			<p>
			</p>
			<p>
			</p>
			<p>
			</p>
			<p>
			</p>
			<p>
			<img 
    				src="/workshop.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="370" 
    				height="350"
    				class="my-photo"
  			/>
			</p>
			<p>
				
				Guided by data science, I was able to understand why some companies invest like that and how 
				decisions are made, more importantly, I learned a lot of knowledge from different fields.
				Sometimes you have to quickly master those knowledges, and then the broad industry experiences 
				helps me a lot. 
			</p>
			<p>
			<img 
    				src="/dogpatch.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="320" 
    				height="400"
    				class="my-photo"
  			/>
			</p>
			<p>
				Because data can tell you the truth, but more often , 
				data deceive people. Details are just the gentlest side of data. To truly develop the potential 
				of an industry and connect imperceptible aspects, it requires insights into the world's connections. 
				This is also the reason why I will never stop learning.
			</p>
			<p>
				I have posted some of my research, data pivots and visualization on BLOG, hoping it may help you 
				understand my work. If have the privilege, I also hope you can get to know me.
			</p>
			<p>
			<img 
    				src="/my_photo3.jpg" 
    				alt="Qiushi Chen_Photo"
    				width="500" 
    				height="450"
    				class="my-photo"
  			/>
			</p>
			<p>
				Email: wdnmdcqs@gmail.com
			</p>
			<p>	
			
			</p>
		</main>
		<Footer />
	</body>
</html>
